.property-grid-property-row{
    -fx-background-color: -fx-background2-color;
    -fx-background-radius: 0;
}

.property-grid-collapse-button{
    /*-fx-background-radius: 5em;*/
    -fx-min-width: 10px;
    -fx-min-height: 10px;
    -fx-max-width: 10px;
    -fx-max-height: 10px;
}

.property-grid-title{
    -fx-font-weight: bold
}