* {
   -fx-info-color: rgb(160, 255, 255);
   -fx-marked-color: rgb(255, 255, 160);
   -fx-filter-color: rgb(255, 160, 255);
}

.info-hint{
    -fx-background-color: -fx-info-color;
}

.marked-hint{
    -fx-background-color: -fx-marked-color;
}

.filter-hint{
    -fx-background-color: -fx-filter-color;
}
